<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%=title%> </title>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/nav.css">

    <style media="screen">
    .alert {
      width: 900px;
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin: 10px auto;

}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
    </style>

  </head>
  <body>
<!-- <h1>Company Name</h1> -->
<%- include('navigation'); %>

  <%if (message.length > 0){%>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Error!</strong>   <%=message%>
    </div>
<%}%>

    <div class="login-card">
      <form class="login-form" action="/" method="POST">
        <div class="form-control">
          <label for="email">E-Mail</label>
          <input type="email" name="email" id="email" required>
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
        </div>
        <div class="form-submissions">
          <button class="btn" type="submit">Login</button>
          <a href="/signup" class='btn'> Create Account</a>
        </div>
      </form>
    </div>

  </body>
</html>
