html{
  /* max-height: 600px; */
 background-color:  #F9F9FA;
 width:100%;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body{
  padding: 0;
  margin: 0;
}
nav{
  display: flex;
  background-color: white;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-around;
}
.nav-bar{
  display: flex;
  align-items: center;
}

li{
  margin : 0 20px;
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}
.nav-bar li a{
  font-size: 1.3rem;
}
